<div class="center-overlap " {{action "close"}} style="color:white">
<div class="modal-header">
  <div class="button close btn-dismiss" {{action "close"}}>x</div>
</div>
<div class="modal-body">
  <div class="control-group">
    {{yield}}
  </div>
 </div>
</div>

