$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";



/* Put your CSS here */
html, body body > .ember-view, #main{
   /* margin: 50px 0; */
    
    height: 100%;
    font-size: 14px;
}


.full-height {
  height: 100%
}

.double-height {
  height: 150%
}
.full {
  height: 100%;
  width: 100%;
}

 .nav  li {
  float: right;
}

.navbar-simple {
  height: 100px;
}

.navbar-simple .navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #118C4E;
  
}

.navbar-simple .navbar-inner {
  background: #fff;
  filter: none !important;
  box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-simple .navbar-inner .nav li {
  float: right;
}

.navbar-simple .navbar-inner .nav li a {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #777;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}

.navbar-simple .navbar-inner .nav li a:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #bf3604;
}

.btn-forests {
  padding: 20px 15px 15px 15px;
  height: 100%;
  background: none;
  background-image: none;
  border: #118C4E;
  color: #118C4E;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-forests:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#bf3604;
}

.btn-text {
  padding: 20px 15px 15px 15px;
  height: 100%;
  background: none;
  background-image: none;
  border: #fff;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-text:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#bf3604;
}

.btn-text:active {
  border: 2px solid white;
  color: blue;
}

.navbar-simple .navbar-inner .nav li.active a {
  color: #118C4E;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'BebasNeueRegular', sans-serif!important;
}

p, div {
  font-family: 'BebasNeueRegular', sans-serif!important;
}

h1 {
  font-size: 200%;
}

.control-label {
  color: white;
}

#summary  {
  background: url(../images/capitol_drainage.jpg); 
  background-size: cover;
  background-attachment: fixed;
}

#cover-change{
  background: url(../images/fall_aspens.jpg) 50% 0 no-repeat; background-size: cover;  
}

#forest-loss{
  background: url(../images/dead_trees.jpg) 50% 0 no-repeat; background-size: cover; 
}

#desert-expansion{
  background: url(../images/DSC_0360.jpg) 50% 0 no-repeat; background-size: cover; 
}

#range-change{
  background: url(../images/new_growth.jpg) 50% 0 no-repeat; background-size: cover; 
}

#elevation{
  background: url(../images/dead_trees_with_plane.jpg) 50% 0 no-repeat; background-size: cover; 
}

#shift {
  background: url(../images/aspens_with_pine.jpg) 50% 0 no-repeat; background-size: cover;
}

#services {
  background: url(../images/meadow.jpg) 50% 0 no-repeat; background-size: cover;
}

#impacts {
  background: url(../images/mbp_damage.jpg) 50% 0 no-repeat; background-size: cover;
}

#biblio {
  background: url(../images/spruce_bud.jpg) 50% 0 no-repeat; background-size: cover;
}

#welcome {
  background: url(../images/columbine_and_aspen.jpg) 50% 0 no-repeat; background-size: cover; 
}

#intro {
  background: url(../images/summer_aspens.jpg) 50% 0 no-repeat; background-size: cover;
}

#screen-welcome {
  background: url(../images/welcome.jpg) 50% 0 no-repeat; background-size: cover;
}

#screen-maps {
  background: url(../images/map.jpg) 50% 0 no-repeat; background-size: cover;
}
#screen-about {
  background: url(../images/about.jpg) 50% 0 no-repeat; background-size: cover;
}

#screen-methods {
  background: url(../images/methods.jpg) 50% 0 no-repeat; background-size: cover;
}
#screen-intro {
  background: url(../images/intro.jpg) 50% 0 no-repeat; background-size: cover;
}

#climate-home { 
  background: url(../images/image_1.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-overview {
  background: url(../images/image_2.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-current {
  background: url(../images/image_3.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-future {
  background: url(../images/image_4.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-choice {
  background: url(../images/image_5.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-temp {
  background: url(../images/image_6.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-precip {
  background: url(../images/image_7.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-influence {
  background: url(../images/image_8.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-mortality {
  background: url(../images/image_10.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-dry {
  background : url(../images/image_12.jpg) 50% 0 no-repeat; background-size: cover;
}
#climate-cite {
  background: url(../images/image_11.jpg) 50% 0 no-repeat; background-size: cover;
}
#method-detail {
  background: url(../images/image_13.jpg) 50% 0 no-repeat; background-size: cover;
}
#desert-increase {
  background: url(../images/pinyon.jpg) 50% 0 no-repeat; background-size: cover;
}
#summary-diff {
  background: url(../images/IMG_0043_2.jpg) 50% 0 no-repeat; background-size: cover;
}
#summary-elev {
  background: url(../images/DSC_0409.jpg) 50% 0 no-repeat; background-size: cover;
}
#summary-impacts {
  background: url(../images/IMG_0519_2.jpg) 50% 0 no-repeat; background-size: cover;
}
#summary-cite {
  background: url(../images/IMG_0546_2.jpg) 50% 0 no-repeat; background-size: cover;
}
.highlight {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#map3d {
  z-index: -5;
  position: static;
  width: 100%;
  float: right;
  height: 100%;
}

a {cursor: pointer}


/* For parallax scrolling */
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  
  vertical-align: middle;
  opacity: 1;
}
.hsContent {
  
  margin: 150px auto 0 auto;
  display: table-cell;

  
  vertical-align: middle;
  color: #ebebeb;
  height: 80%;
  width: 80%;
  z-index: 20;
 
  padding: 0 8%;
  text-align: center;
}
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

div.globe-logo {
  height: 84px;
  width: 84px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-repeat: no-repeat;
  background: url(../images/globe_green.png);
}


.overlay {
  color: #ebebeb;
  font-size: 48px;
  background-color:rgba(0,0,0,0.6);
  height: 60%;
  text-align: center;
  vertical-align: middle;
}

.fill-lite {
  height: 100%;
  background-color:rgba(0,0,0,0.4);

}

.fill-dark { 
  height: 100%;
  background-color:rgba(0,0,0,0.6);
}

#splash {
  margin-top: 3em;
  text-align: center;
  vertical-align: middle;
  height: 100%
}

#splash:before {
  content: "";
  display: inline-block;
  height: 15%;
  vertical-align: middle;
}

#splash-content {
  position: relative;
}

#sidebar-wrapper {
  margin-right: -300px;
  right: 0;
  width: 300px;
  background: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 10px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color:  #bf3604;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #118C4E; 
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #bf3604;
  background: none;
}

#menu_toggle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 500;
}

.content-container {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.iframeshim {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -10000;
  background: white;
  opacity: 1;
}

iframe-container2 {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  width: 300px;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: hidden;
}

#sidebar-wrapper.active {
  left: 0px;
  width: 300px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.screen {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
 
  overflow: hidden;
}

.big-image {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.video-title {
  position: absolute;
  bottom: 50%;
  left: 50%;

  opacity: 1;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: .65;
  font-size: 6em;
  text-transform: uppercase;
}

.next-icon {
  display: block;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  width: 20px;
  height: 20px;
  position: relative;
  left: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  text-decoration: none;
}

.center-overlap {
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 80%;
  height: 100%;
  top: 10%;
  left: 10%;
  text-align: center;
  padding: 10% 200px;
  min-height: 100%;
}

.left-overlap {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10%;
  min-height: 100%;
}

.right-overlap {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10%;
  min-height: 100%;
}

.map-overlap {
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  padding-right: 2.5%;
  vertical-align: center; 
  min-height: 100%;
}

.rcp-toolbar
  input[type="radio"] {
    display: none;
    
}

.rcp-toolbar label {
 /* display:inline-block;*/
 
  font-family: 'BebasNeueRegular', sans-serif!important;
  font-size: 160%;
  color: white;
}

.methods-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  text-align: center;
  padding-top: 100px;
  background: rgba(0,0,0,0.4);
  color: white;
  font-family: 'BebasNeueRegular', sans-serif!important;
  font-size: 160%;
}


.ember-select {
  background: white;
  width: 240px;
  padding: 5px;
  font-size: 20px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.ember-select {
  width: 240px;
  height: 34px;
  overflow: hidden;
  border: 1px solid #ccc;
}

div.best-case-label {
  
  content: url(../images/best_case.png) no-repeat;
}

div.worst-case-label {
  
  content: url(../images/stable.png) no-repeat 0 0 ;
}

div.figure {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
div.global-temp-and-co2 {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/global_temp_and_co2.png) no-repeat 0 0;
}

div.average_temp_global {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/3_CS_average_annual_temp_global_V7_cropped.png) no-repeat 0 0;
}

div.temp_projection {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/4_CS_global_temp_projections_V7.png) no-repeat 0 0;
}

div.avg_precip {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/5_CS_global_precip_projections_V10.png) no-repeat 0 0;
}
div.snow_water {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/7_SW_snow_water.png) no-repeat 0 0;
}
div.precip-change {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/6_CS_seasonal_precip_projections_RCP-NO_TITLE_V8.png) no-repeat 0 0;
}
div.forest-vulnerable {
  content: url(../images/8_Forests_climate_envelope_analysis_V3.png) no-repeat 0 0;
}
/* Figures for the science summary page*/
div.forest-cover {
  content: url(../images/forest-cover-change.jpg) no-repeat 0 0;
}
div.atmo-current {
  content: url(../images/atmo-current.jpg) no-repeat 0 0;
}
div.atmo-rcp26 {
  content: url(../images/atmo-rcp26.jpg) no-repeat 0 0;
}
div.atmo-rcp85 {
  content: url(../images/atmo-rcp85.jpg) no-repeat 0 0;
}
div.abies_range {
  width:150px;
  margin-left:auto;
  margin-right:auto;
  content: url(../images/abies-range.jpg);
}
div.eng-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/eng-range.jpg);
}
div.cont-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/cont-range.jpg);
}
div.glab-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/glab-range.jpg);
}
div.ponderosa-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/ponderosa-range.jpg);
}
div.jeffrey-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/jeffrey-range.jpg);
}
div.pinyon-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/edulis-range.jpg);
}
div.menziesii-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/menziesii-range.jpg);
}
div.hetero-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/hetero-range.jpg);
}
div.aspen-current {
  content: url(../images/aspen-current.jpg);
}
div.aspen26 {
  content: url(../images/aspen26.jpg);
}
div.aspen85 {
  content: url(../images/aspen85.jpg);
}
div.subalpine26 {
  content: url(../images/subalpine26.jpg);
}
div.subalpine85 {
  content: url(../images/subalpine85.jpg);
}
div.arid26 {
  content: url(../images/arid26.jpg);
}
div.arid85 {
  content: url(../images/arid85.jpg);
}
div.habitat {
  content: url(../images/habitat.jpg);
}
div.lemmon-current {
  content: url(../images/lemmon-current.jpg);
}
div.lemmon-26 {
  content: url(../images/lemmon-26.jpg);
}
div.lemmon-85 {
  content: url(../images/lemmon-85.jpg);
}
div.greggii-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/greggii-range.jpg);
}
div.tesota-range { 
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/tesota-range.jpg);
}
div.gambelii-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/gambelii-range.jpg);
}
div.osteo-range {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/osteo-range.jpg);
}
div.elev26 {
  content: url(../images/elev26.jpg);
}
div.elev85 {
  content: url(../images/elev85.jpg);
}
div.aces {
  width:500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/ACES_grey_whole.jpg);
}
div.iplant {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/iplant_logo_300.jpg);
}
div.ua {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/UAsci.png);
}
div.ltrr {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/ltrr.png);
}
div.uagist {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/logo01.jpg);
}
.bannerContainer {
  position: absolute;
  text-align: center;
  border-style: solid;
  background: url(../images/river_small.jpg) no-repeat 0 0;
  color: white;
  top: 25%;
  left: 50%;
  width: 254px;
  height: 254px;
  margin-left: -127px; 
  vertical-align: middle;
  overflow: hidden;
  z-index: 3;
}
