$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";




@font-face {
  font-family: 'Oswald', sans-serif;
}



/* Put your CSS here */
html, body body > .ember-view, #main{
   
        
    height: 100%;
    box-sizing: border-box;
    
}

body {
  font-family: 'Oswald', sans-serif !important;  
}

@media (max-width: 1000px) {
  body {font-size: large; }
}

@media (max-width: 500px) {
  body {font-size: medium; }
}

*, *:before, *:after{
  box-sizing: border-box;
}

.full-height {
  height: 100%
}

.double-height {
  height: 150%
}
.full {
  height: 100%;
  width: 100%;
}

label {
  margin: 0px;
}

 .nav  li {
  float: right;
}

.navbar-simple {
  height: 10%;
  vertical-align: middle;
}

.navbar-simple .navbar-brand {
  font-family: 'Oswald', sans-serif;
  margin-top: 1.5%;
  padding-bottom: 15px;
  font-size: 4em;
  outline: 0;
  color: #118C4E;
}

.navbar-brand:hover {
  color: red;
}

.navbar-simple .navbar-inner {
  background: #fff;
  filter: none !important;
  box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  vertical-align: middle;
}

.navbar-simple .navbar-inner .nav li {
  float: right;
}

.navbar-simple .nav > li > a {
  padding-right: 20px;
  padding-left: 20px;
  text-shadow: 0 1px 0 white;
  vertical-align: middle; 
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Oswald', sans-serif;
  color: #777;
  font-size: 2.3em;
}

.navbar-simple .navbar-inner .nav li a:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: red;
}

.navbar-simple .navbar-inner span {
  padding-top: 15px;
  padding-bottom: 15px;
  color: red;
  box-shadow: none;
  //font-weight: 500;
}

.btn-forests {
  padding: 20px 15px 15px 15px;
  height: 100%;
  background: none;
  background-image: none;
  border: #118C4E;
  color: #118C4E;
  letter-spacing: 1px;
  //font-weight: 300;
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-forests:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#bf3604;
}

@-webkit-keyframes spin {
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  100% {-moz-transform: rotate(360deg);}
}
@keyframes spin {
  100% {transform: rotate(360deg);}
}

@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(1.2); color: red;}
  100% {-webkit-transform: scale(1);}
}
@-moz-keyframes pulse {
  0% {-moz-transform: scale(1);}
  50% {-moz-transform: scale(1.2); color: red;}
  100% {-moz-transform: scale(1);}
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2); color: red;}
  100%{transform: scale(1);}
}

#banner-text {
  font-family: 'Oswald', 'sans';
  font-size: 2.4em;
  text-transform: uppercase;
  color: #fff;
  text-align:justify;
  text-shadow: 2px 2px 4px #000000;
  border:none;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
}

#banner-text:hover {
  color: red;
  text-decoration: none;
}
.explore-text {
  font-family: 'Oswald', 'sans';
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  text-align:center;
  text-shadow: 2px 2px 4px #000000;
  border:none;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
}

.explore-text:hover {
  color: red;
  text-decoration: none;
}
.btn-text {
//  font-family: 'LibreBaskerville', serif;
  font-family: 'Oswald', 'sans';
  padding: 20px;
  background: rgba(0,0,0,0.4);
  background-image: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  border: solid white 1px; 
  color: #fff;
  letter-spacing: 1px;
  //font-weight: 300;
  font-size: 1.5em;
  text-align: justify;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-text:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: dashed white 1px;
  color: red!important;
  text-decoration: none;
  
}

.btn-text:focus {
  outline: 0;
}

.btn-text:active {
  border: none;
}

.btn-control {
  font-family: 'Oswald', 'sans';
  height: 100%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0%;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
  border: 1px solid white; 
  color: #fff;
  font-size: 1em; 
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-control:hover {
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*-webkit-transform: scale(1.1);*/
  /*-moz-transform: scale(1.1);*/
  border: 2px dashed white;
  color: red !important;
}

.btn-control:focus {
}

.btn-control:active {
  border: 4px solid white;
}

.btn-temp {
  height: 100%;
  background: none;
  background-image: none;
  border-radius: 0%;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
  border: 1px solid white; 
  color: #fff;
  font-size: 1em; 
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-temp:hover {
  background: rgba(0,0,0,0.3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*-webkit-transform: scale(1.1);*/
  /*-moz-transform: scale(1.1);*/
  border: 2px dashed white; 
}

.btn-temp:focus {
}

.btn-temp:active {
  border: 4px solid white;
}
.btn-map {
  padding: 15px 20px 15px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  text-transform: uppercase;
  box-sizing: border-box;
  font: -webkit-small-control;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  top: 0;  
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
}

 .btn-map:hover {
    background: rgba(0,0,0,0.6);
    -webkit-background-origin: padding-box;
    -moz-background-origin: padding-box;
    background-attachment: scroll;
    border: 2px dashed white;
    color: red !important; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*-webkit-transform: scale(1.1);*/
    /*-moz-transform: scale(1,1.1);*/
}
.btn-map:focus {
  outline: 0
}
.btn-map:active {
  background: rgba(0,0,0,0.3);
  //font-weight:900;
  border: 2px solid #bf3604;
  color: #bf3604;
  cursor: progress;
}

.spinner{
  display: inline-block;
  opacity: 0;
  width: 0;
  
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.arrow{
  display: inline-block;
  opacity: 1;
  width: auto;

  -webkit-transition: opacity 0s, width 0s;
  -moz-transition: opacity 0s, width 0s;
  -o-transition: opacity 0s, width 0s;
  transition: opacity 0s, width 0s;
}
  

.has-spinner {
  cursor: progress;
}

.has-spinner .spinner {
  opacity: 1;
  width: auto;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  
}

.has-spinner .arrow {
  opacity: 0;
  width: 0;
}

.spinThis {
  opacity: 1;
  width: auto;
  -webkit-animation: spin 4s infinite;
  -moz-animation: spin 4s infinite;
  
}

.rcp-label {
  color: white!important;
  background: none;
  width: 100%; 
  text-align: center;
  text-transform: none;
  font-size: 1.2em; 
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in;
  font-weight: 300 !important;
}
.rcp-label:hover {
  
  background: rgba(0,0,0,0.6);
  //font-weight: 800;
  color: red !important;
  -webkit-background-origin: padding-box;
  -moz-background-origin: padding-box;
  /*-webkit-transform: scale(1.1);*/
 /* -moz-transform: scale(1.1);*/
}

.pulse {
  -webkit-animation: pulse 1s 2;
  -moz-animation: pulse 1s 2;


 }
.pulseOnce {
  -webkit-animation: pulse 1s 1;
  -moz-animation: pulse 1s 1;
}
.navbar-simple .navbar-inner .nav li.active a {
  color: #118C4E;
}

h1, h2, .h1, .h2  {
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  //font-weight: 300;
}

h3, h4, h5, h6, p, div {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}



.control-label {
  color: white;
}

#summary  {
  background: url(../images/capitol_drainage.jpg); 
  background-size: cover;
  background-attachment: fixed;
}

#cover-change{
  background: url(../images/fall_aspens.jpg) 50% 0 no-repeat; background-size: cover;  
  background-attachment: fixed;
}

#forest-loss{
  background: url(../images/dead_trees.jpg) 50% 0 no-repeat; background-size: cover; 
  background-attachment:fixed;
}

#desert-expansion{
  background: url(../images/DSC_0360.jpg) 50% 0 no-repeat; background-size: cover; 
  background-attachment: fixed;
}

#range-change{
  background: url(../images/DSC_4674.jpg) 50% 0 no-repeat; background-size: cover;  
  background-attachment: fixed;
}

#elevation{
  background: url(../images/dead_trees_with_plane.jpg) 50% 0 no-repeat; background-size: cover; 
  background-attachment: fixed;
}

#shift {
  background: url(../images/DSC_5716.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#services {
  background: url(../images/meadow.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#impacts {
  background: url(../images/mbp_damage.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#biblio {
  background: url(../images/spruce_bud.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#welcome {
  background: url(../images/columbine_and_aspen.jpg) 50% 0 no-repeat; background-size: cover; 
  background-attachment: fixed;
}

#intro {
  background: url(../images/summer_aspens.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#screen-welcome {
  background: url(../images/welcome.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#screen-maps {
  background: url(../images/map.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#screen-about {
  background: url(../images/about.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#screen-methods {
  background: url(../images/methods.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#screen-intro {
  background: url(../images/intro.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#climate-home { 
  background: url(../images/DSC_7330.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-overview {
  background: url(../images/image_2.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-current {
  background: url(../images/image_3.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-future {
  background: url(../images/image_4.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-choice {
  background: url(../images/image_5.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-temp {
  background: url(../images/image_6.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-precip {
  background: url(../images/image_7.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-influence {
  background: url(../images/image_8.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-mortality {
  background: url(../images/image_10.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-dry {
  background : url(../images/image_12.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#climate-cite {
  background: url(../images/image_11.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#method-detail {
  background: url(../images/image_13.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#desert-increase {
  background: url(../images/pinyon.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#summary-diff {
  background: url(../images/IMG_0043_2.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;

}

#summary-green {
  background: url(../images/green-forest.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#summary-elev {
  background: url(../images/DSC_0409.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#summary-impacts {
  background: url(../images/IMG_0519_2.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}
#summary-cite {
  background: url(../images/DSC_6057.jpg) 50% 0 no-repeat; background-size: cover;
  background-attachment: fixed;
}

#lost-main {
  background: url(../images/DSC_6052.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#lost-summary {
  background: url(../images/DSC_5688.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#lost-humanity{
  background: url(../images/DSC_4974.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#lost-three{
  background: url(../images/DSC_7342.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#lost-fire {
  background: url(../images/DSC_7083.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#lost-water {
  background: url(../images/DSC_9838.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#lost-climate {
  background: url(../images/IMG_1497.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#lost-movies {
  background: url(../images/DSC_6055.jpg) 50% 0 no-repeat;  background-size: cover;  background-attachment: fixed;
}

#lost-references {
  background: url(../images/IMG_8017.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

#about-1 {
  background: url(../images/DSC_5690.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}
#about-2 {
  background: url(../images/DSC_4382.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}
#about-3 {
  background: url(../images/DSC_4216.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}
#about-4 {
  background: url(../images/DSC_4048.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}
#about-5 {
  background: url(../images/DSC_5290.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}
#about-6 {
  background: url(../images/DSC_5121.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}
#about-7 {
  background: url(../images/DSC_5121.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;
}

.highlight {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#map3d {
  z-index: 10;
  position: absolute; 
  width: 100%;
  float: right;
  height: auto;
}


a {cursor: pointer}


/* For parallax scrolling */
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  
  position: relative;
  
  vertical-align: middle;
  opacity: 1;
}
.hsContent {
  
  margin: 150px auto 0 auto;
  display: table-cell;

  
  vertical-align: middle;
  color: #ebebeb;
  height: 80%;
  width: 80%;
  z-index: 20;
 
  padding: 0 8%;
  text-align: center;
}
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  height: 100%;
  width: 100%;
}

div.globe-logo {
  height: 84px;
  width: 84px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-repeat: no-repeat;
  background: url(../images/globe_green.png);
//  background-position-y: 1px;
//  background-position-x: -1px;
}

div.globe-logo:hover {
//  border: 4px solid red;
//  border-radius: 50%;
//  background-position-y: -2px;
//  background-position-x: -3px;
  background: url(../images/globe_green_red.png);
}


.overlay {
  color: #ebebeb;
  font-size: 2em;
  background-color:rgba(0,0,0,0.6);
  height: 60%;
  text-align: center;
  vertical-align: middle;
}

.fill-lite {
  height: 100%;
  background-color:rgba(0,0,0,0.4);

}

.fill-dark { 
  height: 100%;
  background-color:rgba(191,84,48,0.4);
}

#splash {
  margin-top: 3em;
  text-align: center;
  vertical-align: middle;
  height: 100%
}

#splash:before {
  content: "";
  display: inline-block;
  height: 15%;
  vertical-align: middle;
}

#splash-content {
  position: relative;
}

#sidebar-wrapper {
  margin-right: -300px;
  right: 0;
  width: 300px;
  background: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 10px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color:  #bf3604;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > sidebar-brand {
  height: 55px;
  line-height: 55px;
  
}

.sidebar-nav > .sidebar-brand a {
  color: #118C4E; 
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #bf3604;
  background: none;
}

#menu_toggle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 500;
}

.content-container {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.iframeshim {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -10000;
  background: white;
  opacity: 1;
}

iframe-container2 {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  width: 300px;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: hidden;
}

#sidebar-wrapper.active {
  left: 0px;
  width: 300px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.screen {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
 
  overflow: hidden;
}

.big-image {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.video-title {
  position: absolute;
  bottom: 50%;
  left: 50%;

  opacity: 1;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: .65;
  font-size: 6em;
  text-transform: uppercase;
}

.next-icon {
  display: block;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  width: 20px;
  height: 20px;
  position: relative;
  left: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  text-decoration: none;
}

.center-overlap {
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 80%;
  height: 100%;
  top: 10%;
  left: 10%;
  text-align: center;
  padding: 10% 200px;
  min-height: 100%;
}

.left-overlap {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 20%;
  min-height: 100%;
}

.right-overlap {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  padding: 20%;
  min-height: 100%;
}

.map-overlap {
  background: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  padding-right: 2.5%;
  vertical-align: center; 
  min-height: 100%;
}

input[type=checkbox] {
  padding: 0;
}
.rcp-toolbar
  input[type="radio"] {
    margin: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: none;
    
}

.rcp-toolbar label {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
 /* font-family: 'Libre Baskerville', serif;*/
 /* display:inline-block;*/
}

h3.map-year {
 font-family: 'Oswald', sans-serif !important;
 font-size: 1.2em;
 
 }
div.maps-form {
  width: 100%;
}


.methods-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  text-align: center;
  padding-top: 100px;
  background: rgba(0,0,0,0.4);
  color: white;
  font-family: 'Oswald', sans-serif!important;
  font-size: 160%;
}


.ember-select {
  background: rgba(0,0,0, 0.3);
  color: white;
  width: 90%;
  padding: 5px;
  font-size: 1em;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
/*  -moz-appearance: none;
  -webkit-appearance: none;*/
}

.ember-select option {
  background: transparent;
  width: 260px;
  padding: 5px;
  font-size: 1em;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  
}

.ember-text-field {
  background: rgba(0,0,0, 0.5);
  color: white;
  font-size: 1em;
  line-height: 1;
  border: 0;
  width: 70%;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 40px;
}

.ember-text-field:focus {
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: none;
  outline: 0;
  -moz-box-shadow: none;
  box-shadow: none;
  //font-weight: 300;
  -webkit-transform: scale(1.1);
  border: 2px dashed white; 
}

div.best-case-label{
  height: 60px;
  width: 60px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/best_case_red_60.png) no-repeat 0 0;
}

div.worst-case-label {
  height: 60px;
  width: 60px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/stable_red_60.png) no-repeat 0 0;
}

div.figure {
  width: 28vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
div.global-temp-and-co2 {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/global_temp_and_co2.png) no-repeat 0 0;
}

div.average_temp_global {
 /* width: 400px; */
  margin-left: auto;
  margin-right: auto;
  content: url(../images/3_CS_average_annual_temp_global_V7_cropped.png) no-repeat 0 0;
}

div.temp_projection {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/4_CS_global_temp_projections_V7.png) no-repeat 0 0;
}

div.avg_precip {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/5_CS_global_precip_projections_V10.png) no-repeat 0 0;
}
div.snow_water {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/7_SW_snow_water.png) no-repeat 0 0;
}
div.precip-change {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/6_CS_seasonal_precip_projections_RCP-NO_TITLE_V8.png) no-repeat 0 0;
}
div.forest-vulnerable {
  content: url(../images/8_Forests_climate_envelope_analysis_V3.png) no-repeat 0 0;
}
/* Figures for the science summary page*/
div.forest-cover {
  content: url(../images/combinedForestOnly.jpg) no-repeat 0 0;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
div.atmo-current {
  content: url(../images/atmo-current.jpg) no-repeat 0 0;
}
div.atmo-rcp26 {
  content: url(../images/atmo-rcp26.jpg) no-repeat 0 0;
}
div.atmo-rcp85 {
  content: url(../images/atmo-rcp85.jpg) no-repeat 0 0;
}
div.abies_range {
  width: 25vw;
  margin-left:auto;
  margin-right:auto;
  content: url(../images/chart_abies_lasiocarpa.jpg);
}
div.eng-range {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_picea_engelmannii.jpg);
}
div.cont-range {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_pinus_contorta.jpg);
}
div.glab-range {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_acer_glabrum.jpg);
}
div.ponderosa-range {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_pinus_ponderosa.jpg);
}
div.jeffrey-range {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_pinus_jeffreyi.jpg);
}
div.pinyon-range {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_pinus_edulis.jpg);
}
div.menziesii-range {
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_pseudotsuga_menziesii.jpg);
}
div.hetero-range {
  
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/chart_tsuga_heterophylla.jpg);
}
div.aspen-current {
  content: url(../images/aspen-current.jpg);
}
div.aspen26 {
  content: url(../images/aspen26.jpg);
}
div.aspen85 {
  content: url(../images/aspen85.jpg);
}
div.butte-current {
  content: url(../images/butte-current.jpg);
}
div.butte-26 {
  content: url(../images/butte-26.jpg);
}
div.butte-85 {
  content: url(../images/butte-85.jpg);
}

div.subalpine26 {
  width: 28vw;
  content: url(../images/subalpine26.jpg);
  float: left;
}

div.subalpine-legend {
  width: 15vw;
  content: url(../images/subalpine_legend.jpg);
  margin-left: auto;
  margin-right: auto;
}

div.subalpine85 {
  width: 28vw;
  content: url(../images/subalpine85.jpg);
  float: right;
}
div.arid26 {
 width: 28vw;
  content: url(../images/arid26.jpg);
  float: left;
}
div.arid85 {
  width: 28vw;
  content: url(../images/arid85.jpg);
  float: right;
}
div.arid-legend {
  width: 15vw;
  content: url(../images/arid_legend.jpg);
  margin-left: auto;
  margin-right: auto;
}
div.habitat {
  width: 50vw; 
  content: url(../images/Habitat.jpg);
}
div.habitat-legend {
  width: 15vw;
  content: url(../images/habitat-legend.jpg);
  margin-left: 50%;
  margin-right: auto;
}

div.lemmon-current {
  height: auto;
  width: auto;
  content: url(../images/lemmon-current.jpg);
}
div.lemmon-26 {
  height: auto;
  width: auto;
  content: url(../images/lemmon-26.jpg);
}
div.lemmon-85 {
  height: auto;
  width: auto;
  content: url(../images/lemmon-85.jpg);
}
div.greggii-range {
  width: 25vw;
  height: auto;
  content: url(../images/Acacia_greggii.jpg);
}
div.region {
  width: 45vw;
  height: auto;
  content: url(../images/Region.jpg);
  margin-left: auto;
  margin-right: auto;
}
div.region-legend {
  width: 15vw;
  height: auto;
  content: url(../images/Region-legend.jpg);
  margin-left: 50%;
  margin-right: auto;
}
div.tesota-range { 
  width: 25vw;
  height: auto;
  content: url(../images/Olneya_tesota.jpg);
}
div.gambelii-range {
  width: 25vw;
  height: auto; 
  content: url(../images/Quercus_gambelii.jpg);
}
div.osteo-range {
  
  width: 25vw;
  height: auto;
  content: url(../images/Juniperus_osteosperma.jpg);
}
div.elev26 {
  height: auto;
  width: auto;
  content: url(../images/elev26.jpg);
}
div.elev85 {
  content: url(../images/elev85.jpg);
}
div.aces {
  width:500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/ACES_grey_whole.jpg);
}
div.iplant {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/iplant_logo_300.jpg);
}
div.ua {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/UAsci.png);
}
div.ltrr {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/ltrr.png);
}
div.uagist {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/uagist.png);
}
div.bien {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/logo_bien.png);
}
div.nceas {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/logo_nceas.png);
}
div.sfi {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  content: url(../images/logo_santa_fe_institute.png);
}
.bannerContainer {
  position: absolute;
  text-align: center;
  border-style: solid;
  background: url(../images/river_small.jpg) no-repeat 0 0;
  color: white;
  top: 35%;
  left: 48%;
  width: 300px;
  height: 300px;
  margin-left: -127px; 
  vertical-align: middle;
  overflow: hidden;
  z-index: 3;
}
span.bannerContainer:hover {
  border-style: 2px dashed white;
  color: red;
//  background-color: rgba(0,0,0,0.6);
//  background: none;
}


.slogan-container {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'Oswald', 'sans-serif';
  //font-weight: 400!important;
  border: none;
  color: white;
  top: 20%;
  font-size: 3em;
  text-shadow: 3px 3px 4px #000000;
  vertical-align: middle;
  z-index:10;
}
.slogan {
  display: inline-block;
}

.flush--top {
  margin-top: 0;
}

.detail {
  max-height: 0;
  overflow: hidden;
  background: white;  
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.oval-high {
  width: 30px;
  height: 15px;
  background: rgb(0,70,0);
  -moz-border-radius: 30px/15px;
  -webkit-border-radius: 30px/15px;
  border-radius: 30px/15px;
  display: inline-block;
}

.circle { shape-inside: circle(20px at 50% 50%); 
        background: rgb(0,185,0);
        float: left;
}


.oval-mid {
  background: rgb(0,110,0);
  width: 30px;
  height: 15px;
  display: inline-block;
  -moz-border-radius: 30px/15px;
  -webkit-border-radius: 30px/15px;
  border-radius: 30px/15px;
}

.oval-low {
  background: rgb(0,185,0);
  width: 30px;
  height: 15px;
  display: inline-block;
  -moz-border-radius: 30px/15px;
  -webkit-border-radius: 30px/15px;
  border-radius: 30px/15px;
}

.slider {
  width: 250px !important;
  height: 20px;
  margin: auto;
  display: block;
}


.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}


/* Styles */


.map-animation {
	width: 100%;
	height: 52px;
	display: block;
  margin: 0 0 20px 0; 
	//position: absolute;
	//top: 50%;
	//left: 50%;
//	margin: -150px 0 0 -200px;
	text-align: center;
	overflow: hidden;
}



.map-animation label {
	width: 68px;
	height: 30px;
	display: inline-block;
	//margin-top: 100px;
	position: relative;
	border-radius: 14px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background: rgb(138,138,138);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	/*box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1); */
	line-height: 30px;
	font-style: normal;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	//font-weight: bold;
	/*-webkit-box-reflect: below 0px*/
	/*	-webkit-gradient(linear, left top, left bottom,*/
	/*	color-stop(0.5, transparent),*/
	/*	to(rgba(255, 255, 255, 0.3)));*/
	-moz-transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
	cursor: pointer;
}


.map-animation label.attention:hover:before {
	content: "☢"; /* &#9762; */
	font-size: 22px
}
.map-animation input[type=checkbox]:checked ~ label.attention:hover:before  {
	content: "on";
	font-size: 14px
}



.map-animation label:before {
	content: "off";
	margin-left: 18px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
}



.map-animation input[type=checkbox]:checked ~ label:before {
	content: "on";
	text-transform: uppercase;
	margin-right: 30px;
	margin-left: 0;
}

.map-animation input[type=checkbox]:checked ~ label:after {
	content: "";
	right: -130px;
}

.map-animation input[type=checkbox]:checked ~ label{
	background: rgb(141,173,51);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
}

.map-animation input[type=checkbox]:checked ~ label i {
	right: -6px;
}

/* hide checkbox */

.map-animation input {
//	position: absolute;
	opacity: 0;
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
} 

.map-animation-play {
	width: 100%;
	height: 52px;
	display: block;
  margin: 0 0 20px 0; 
	//position: absolute;
	//top: 50%;
	//left: 50%;
//	margin: -150px 0 0 -200px;
	text-align: center;
	overflow: hidden;
}



.map-animation-play label {
	width: 68px;
	height: 30px;
	display: inline-block;
	//margin-top: 100px;
	position: relative;
	border-radius: 14px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background: rgb(138,138,138);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(88,88,88,1) 24%, rgba(120,120,120,1) 55%, rgba(152,152,152,1) 100%);
	/*box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1); */
	line-height: 30px;
	font-style: normal;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	//font-weight: bold;
	/*-webkit-box-reflect: below 0px*/
	/*	-webkit-gradient(linear, left top, left bottom,*/
	/*	color-stop(0.5, transparent),*/
	/*	to(rgba(255, 255, 255, 0.3)));*/
	-moz-transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
	cursor: pointer;
}


.map-animation-play label.attention:hover:before {
	content: "☢"; /* &#9762; */
	font-size: 22px
}
.map-animation input[type=checkbox]:checked ~ label.attention:hover:before  {
	
  content: ""; 
	font-size: 14px
}



.map-animation-play label:before {
/*  font-family: FontAwesome; */
  font-family: 'Oswald', sans-serif;
/*	content: ""; */
  content: 'Play';
	margin-left: 18px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	transition: all 200ms ease;
}



.map-animation-play input[type=checkbox]:checked ~ label:before {
/* 	content: ""; */
  content: 'pause';
	text-transform: uppercase;
	margin-right: 14px;
	margin-left: 0;
}

.map-animation-play input[type=checkbox]:checked ~ label:after {
	content: "";
	right: -130px;
}

.map-animation-play input[type=checkbox]:checked ~ label{
	background: rgb(141,173,51);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(0,185,0,1) 0%, rgba(0,150,0,1) 24%, rgba(0,110,0,1) 55%, rgba(0,70,0,1) 100%);
}

.map-animation-play input[type=checkbox]:checked ~ label i {
	right: -6px;
}

/* hide checkbox */

.map-animation-play input {
//	position: absolute;
	opacity: 0;
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
} 

.chartAlign {
  /*safari, opera, and chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /*internet explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /*firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /*w3c */
  display:box;
  box-pack:center;
  box-align:center;
}

.chartContent {
  margin: 150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  height: 80%;
  width: 80%;
  z-index: 20;
  padding:0;
  text-align: center;
}
div.hide {
  //visibility: hidden;
//  overflow: hidden;
}

#gain-names .row div {
  display: table;
  margin: 0px auto 10px auto;
}

.fadeOut {
  opacity: 1;
  -webkit-transition: 1s ease-out;
     -moz-transition: 1s ease-out;
       -o-transition: 1s ease-out;
          transition: 1s ease-out;
     }

.green-arrow {
  height: inherit;
  margin: 0px;
  padding: 20px 50px 20px 0px;
  background: url(../images/green-arrow.svg) no-repeat;
}

ul.nav li.ember-view {
//  border: 1px solid #118c4e;
//  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  background: url(../images/nav_bg.svg) no-repeat center;
  background-size: 80% 80%;
}

hr.headline {
  margin: 25px 0;
  height: 1px;
  background: #a8a8a8;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #a8a8a8));
}
 
hr.maps-hr {
  background: white 	!important;
  height: 1px		!important;
  width: 100%		!important;
  border: none		!important;
  margin: 0px auto 0px auto !important;
  padding: none		!important;
}
hr.maps-hr2 {
  background: white 	!important;
  height: 1px		!important;
  width: 100%		!important;
  border: none		!important;
  margin: 0px auto 0px auto !important;
  padding: none		!important;
}
.map-step {
  color: white;
  font-family: "Oswald", sans-serif !important;
  padding-top: 2%;
  font-size: 1.5em;
}

/* maptips */

.tips {
  background: rgba(192,192,192,1);
}

#maptips:hover {

}

/* tip1 */

div.tip1 {
//  content: url(../images/help.png);
  background-image: url(../images/help.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  width: 16px;
  display: table-cell;
  float: right;
  vertical-align: middle;
}

.tip1 span {
  margin-left: -999em !important;
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 10%;
  text-align: left;
  padding: 20px;
}

.tip1:hover span {
  position: absolute !important;
  left: 50px !important;
  top: 180px !important;
  z-index: 1 !important;
  margin-left: 10px !important;
  width: 350px !important;
  height: 400px;
}

/* end tip1 */

/* tip2 */

div.tip2 {
  background-image: url(../images/help.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  width: 16px;
  display: table-cell;
  float: right;
  vertical-align: middle;
}

.tip2 span {
  margin-left: -999em !important;
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 10%;
  text-align: left;
  padding: 20px;
}

.tip2:hover span {
  position: absolute !important;
  left: 50px !important;
  top: 22px !important;
  z-index: 1 !important;
  margin-left: 10px !important;
  width: 350px !important;
  height: 400px;
}


/* end tip2 */

/* tip3 */

div.tip3 {
  background-image: url(../images/help.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  width: 16px;
  display: table-cell;
  float: right;
  vertical-align: middle;
}

.tip3 span {
  margin-left: -999em !important;
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 10%;
  text-align: left;
  padding: 20px;
}

.tip3:hover span {
  position: absolute !important;
  right: 10px !important;
  top: 220px !important;
  z-index: 1 !important;
  margin-left: 10px !important;
  width: 350px !important;
  height: 400px;
}

/* end tip3 */


div.map-legend > p {
  color: white;
  font-family: "Oswald", sans-serif !important;
//  padding-top: 200px;

.suitability {
  margin-bottom: 10px;
}

//maps.hbs - google earth window repsonsiveness

}
.map-legend2 {
  color: white;
  font-family: "Oswald", sans-serif !important;
}

@media screen and (max-height: 1200px){
  div.ge { height: 1050px; }
}
@media screen and (max-height: 1080px){
  div.ge { height: 930px; }
}
@media screen and (max-height: 1050px){
  div.ge { height: 900px; }
}
@media screen and (max-height: 1024px){
  div.ge { height: 800px; }
}
@media screen and (max-height: 900px) {
  div.ge { height: 650px; }
}
@media screen and (max-height: 768px){
  div.ge { height: 550px; }
}
@media screen and (max-height: 600px){
  div.ge { height: 450px; }
}


div.earth-calc {
  height: calc(100%-200px) !important;
//  height: 100%;
//  height: -webkit-calc(100%-200px);
//  height: -moz-calc(100%-200px);
//  height: -o-calc(100%-200px);
//  height: -ms-calc(100%-200px);
}

div.btn-row {
  margin: 0px;
}
.leftAlign {
  text-align: left;
}
.centerAlign {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.center {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.textSm {
  font-size: 1.2em;
}

.textMd {
  font-size: 1.5em;
}

.textLg {
  font-size: 2.5em;
}

.bottom-nav {
  display: table;
  margin-top: 2.5%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.bottom-nav > div {
  text-align: center;
  font-size: 2vw;
  display: inline-table;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: top;
}

.bottom-nav a:hover {
  color: #b81414;
  text-decoration: none;
}

.circle-nav {
  border-radius: 50%;
  background: #c8dac8; 
}

.circle-nav-active {
  border-radius: 50%;
  background: #c8dac8;
  border: red 1px solid;
}

.greenArrow-bottom {
  background: url(../images/green-arrow.svg) no-repeat;
  background-size: 3em 3em;
  width: 3.5em;
  padding: 0 5em 5em 5em;
  margin-left: 1.75em;
  margin-right: 1.75em;
}

.btn-group-vertical div div  > img {
  width: 25vw;
}

img.img-chart {
  width: 25vw;
  height: auto;
  
}

img.img-fig {
  width: 30vw;
}

.btn-chart {
  padding: 0;
  margin: 0 2% 2% 2%;
  height: 100%;
  background: none;
  background-image: none;
  border: #118C4E;
  color: #118C4E;
  font-size: .75em;
  letter-spacing: 1px;
  //font-weight: 300;
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-chart:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#bf3604;
}

#chartContainer {
  max-height: 0;
  
  background: white;  
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

//#aspen-names .row + div {
//  display: table;
//  margin: 0px auto 10px auto;
//}

#local-container h3 {
  color: black;
}
#global-container h3 {
  color: black;
}
/* About page */

.about-padding {
  padding: 0px 8% 0px 8%;
}

.about-li {
  text-decoration: underline;
  font-style: none;
}

#about-list {
  text-align: center;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 60%;
  padding: 1% 1% 3% 1%;
//  margin: 0 auto;
}

#about-list li {
  display: inline;
  padding: 2% 3% 2% 3%;
}

a.aces-link:link {
  font-style: italic !important;
  text-decoration: underline;
  color: #000 !important;
}
a.aces-link:visited {
  font-style: italic !important;
  text-decoration: underline;
  color: #000 !important;
}
a.aces-link:hover {
  font-style: italic !important;
  text-decoration: underline;
  color: red !important;
}
#who-links a:link {
//  font-style: italic !important;
  text-decoration: underline;
  color: #000 !important;
}
#who-links a:visited {
//  font-style: italic !important;
  text-decoration: underline;
  color: #000 !important;
}
#who-links a:hover {
//  font-style: italic !important;
  text-decoration: underline;
  color: red !important;
}

.btn-about {
  font-family: 'Oswald', 'sans';
  font-style: italic;
  text-decoration: underline;
  padding: 10px;
  background: rgba(0,0,0,0.4);
  background-image: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  color: #fff;
  letter-spacing: 1px;
  //font-weight: 300;
  font-size: 1.5em;
  text-align: justify;
  text-shadow: none;
  text-transform: none;
  transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
}

.btn-about:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: red!important;
  text-decoration: underline;
}

.btn-about:focus {
  outline: 0;
}

.btn-about:active {
  border: none;
}

div.down-arrow {
  font-size: 2em;
  left: 48%;
  display: block;
  position: absolute;
  bottom: 20px !important;
  margin: 0px 0px 1% 0px;
}

.svg-down-arrow {
  background-image: url(../images/down-arrow-white.svg);
//  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 95px;
  width: 50px;
}

.mountain {
  max-height: 0;
  overflow: hidden;
  background: white;  
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
