$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";



/* Put your CSS here */
html, body {
    margin: 50px 0;
    height: 100%;
}

body > .ember-app {
  height: 100%
}

 .nav  li {
  float: right;
}

.navbar-simple .navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #118C4E;
}

.navbar-simple .navbar-inner {
  background: #fff;
  filter: none !important;
  box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-simple .navbar-inner .nav li {
  float: right;
}

.navbar-simple .navbar-inner .nav li a {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #777;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}

.navbar-simple .navbar-inner .nav li a:hover {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #bf3604;
}

.navbar-simple .navbar-inner .nav li.active a {
  color: #bf3604;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'BebasNeueRegular', sans-serif!important;
}

p, div {
  font-family: 'BebasNeueRegular', sans-serif!important;
}

#home .bcg {
  background-image:url(../images/capitol_drainage.jpg); min-height:1500px;
}

#page-forecasts{
  background: url(../images/fall_aspens.jpg) 50% 0 no-repeat; background-size: cover; min-height: 1000px;
}

#page-climate-change{
  background: url(../images/dead_trees.jpg) 50% 0 no-repeat; background-size: cover; min-height: 1000px;
}

#page-about{
  background: url(../images/aspen_forest.jpg) 50% 0 no-repeat; background-size: cover; min-height: 1000px;
}

#page-methods{
  background: url(../images/new_growth.jpg) 50% 0 no-repeat; background-size: cover; min-height: 1000px;
}

#page-references{
  background: url(../images/dead_trees_with_plane.jpg) 50% 0 no-repeat; background-size: cover; min-height: 1000px;
}
/* For parallax scrolling */
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
  opacity: 0;
}
.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center;
}
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

div.globe-logo {
  background: url(../images/globe_green.png);
}
