
<div class="bcg" id="screen-about" data-video="http://player.vimeo.com/external/97766236.sd.mp4?s=eb1a390039ac1c84a54713d93c69cc25">
  <div class="fill-lite">
  
  <div id="aboutID" style="overflow:auto; height:100%; width:100%;">


    <div class="hsContainer" style="margin-top:200px;">
      <div class="hsContent">
        
         <section class="" id="">
        <div class="" style="width: 100%;margin-left:auto;margin-right:auto;text-align:center;">
        <div class="hsContainer">
        <div class="hsContent">    
        <div class="row">
        <h1>About ForestForecasts.org</h1>
        </div>
        <div class="row">
        <h2><em>What will happen to our forests in 20 or 100 years from now?</em></h2>
        <h2><em>What will your backyard look like with increasing changes in climate?</em></h2>
        <h2><em>How will changes in greenhouse gas emissions influence our forests?</em></h2>
        </div>
        </div>
        </div>
        </div>
        </section>

        <div class="row">
        <p>Within our lifetime, forests are going to change. But how much they will change is up to us. Forest may experience dramatic reductions in cover and enhanced <em>mortality</em> events ultimately due to increased drought and changing temperatures.</p>
        <p>ForestForecasts.org allows you to access explore current and future maps and simulations. It uses the largest compilation of forest data, the most recent science forecasts, and new <em>tools</em> to visualize future forecasts for our forests and landscapes.</p>
        </div>

        <div class="row">
        <ul id="about-list">
        <li class="about-li"><button class="btn-about" {{action "scrollPage" "why"}}>Why?</button></li>
        <li>-</li>
        <li class="about-li"><button class="btn-about" {{action "scrollPage" "what"}}>What?</button></li>
        <li>-</li>
        <li class="about-li"><button class="btn-about" {{action "scrollPage" "how"}}>How?</button></li>
        <li>-</li>
        <li class="about-li"><button class="btn-about" {{action "scrollPage" "who"}}>Who?</button></li>
        </ul>
        </div>
        <!--<div class="row">
        <ul id="about-list">
        <li class="about-li">Why?</li>
        <li>-</li>
        <li class="about-li">What?</li>
        <li>-</li>
        <li class="about-li">How?</li>
        <li>-</li>
        <li class="about-li">Who?</li>
        </ul>
        </div>-->

        <div class="row">
        <p>Learn about the <a href="https://www.aspennature.org/about" class="aces-link">Aspen Center for Environmental Studies</a></p>
        <hr>
        </div>

         <section class="" id="why">
        <div class="" style="width: 100%;margin-left:auto;margin-right:auto;text-align:center;">
        <div class="hsContainer">
        <div class="hsContent">
        <div class="row">
        <div><h1>Why ForestForecast.org?</h1></aiv>
        <p>We as a society have a critical choices to make – What forest landscapes do we want our children to inherit? What will be the consequences of continued increases in greenhouse gas emissions? What will happen to forests if greenhouse gas emissions decrease?</p>
        </div>
        </div>
        </div>
        </section>
        
        <section class="" id="what">
        <div class="what" style="width:100%;margin-left:auto;margin-right:auto;text-align:center;">
        <div class="hsContainer">
        <div class="hsContent">
        <h1>What is ForestForecast.org?</h1>
        <p>ForestForecats.org allows you to access and use interactive maps and forecasts - animated ‘weather channel-like’ forecasts at local,  landscape, and regional levels.</p>
        </div>
        </div>
        </div>
        </section>

        <section class="" id="how">
        <div class="" style="width: 100%;margin-left:auto;margin-right:auto;text-align:center;">
        <div class="hsContainer">
        <div class="hsContent">
        <h1>How does ForestForecast.org work?</h1>
        <p>For the first time, ForestForecasts.org accesses the largest amount of species data and detailed computational forecasts combined with powerful visulatization tools so that you can explore the current and future distribution of forests and species. You can choose how different species and visualize how they will respond to two different climate forecasts.</p>
        </div>
        </div>
        </div>
        </section>
        
        <section class="" id="who">
        <div class="" style="width: 100%;margin-left:auto:margin-right:auto;text-align:center;">
        <div class="hsContainer">
        <div class="hsContent">
        <h1>Who is ForestForecast.org?</h1>
        <p id="who-links">We are a collaborative group of scientists, educators, informaticians, and public outreach practitioners. ForestForecasts.org is directed by <a href="https://brianjenquist.wordpress.com/">B.J. Enquist</a> at the University of Arizona/Santa Fe Institute and the <a href="https://www.aspennature.org/">Aspen Center for Environmental Studies</a>.  Core project collaborators include Nathan Casler, Margaret Evans, Jamie Cundif, Chris Lane, Noah Charney, Martha Narro, and Francina Dominguez.  Computational and data collaborators include <a href="http://www.iplantcollaborative.org/">iPlant</a>,<a href="https://www.nceas.ucsb.edu/">NCEAS</a>, <a href="http://www.outerra.com/">Outerra</a>, <a href="http://ltrr.arizona.edu/">The Tree Ring Laboratory</a> and <a href="http://bien.nceas.ucsb.edu/bien/">BIEN</a>. Project support and advising -  Chris Lane and Jerry Murdock.</p>
        </div>
        </div>
        </div>
        </section>

        <div class="row">
        <div class="aces"></div>
        <div class="iplant"></div>
        <div class="ua"></div>
        <div class="ltrr"></div>
        <div class="bien"></div>
        <div class="nceas"></div>
        <div class="uagist"></div>
        <div class="sfi"></div>
        </div>

         <section class="" id="">
        <div class="" style="width: 100%;margin-left:auto;margin-right:auto;text-align:center;">
        <div class="hsContainer">
        <div class="hsContent">
        <div class="row">
        <h1>Aspen Center for Environmental Studies (ACES)</h1>
        <p>ACES is a non-profit environmental science education center with four sites in Colorado's Roaring Fork Valley. ACES provides programs in environmental science and ecological literacy for everyone from school children, to leaders and decision makers, working to build a community of knowledgable, motivated and capable environmental stewards.</p>
        <p>ACES mission: "To inspisre a life-long commitment to the Earth by educating for environmental responsibility, conserving and restoring the balance of natural communities and advancing the ethic that the Earth must be respected and nurtured." has guided their programming since 1968.</p>
        <p>Since then, ACES has set a high standard for land stewardship on our four sites. The 2012 addition of our For the Forest program expanded the influence of that ethic, creating a nexus between scientific research, conservation values, and active forest restoration. Their involvement with the Future Forest Distribution Model, which seeks to bridge the gap between scientific research on climate change and public perception, epitomize the larger goals of their program.</p>
        </div>
        </div>
        </div>
        </div>
        </section>

       </div>

      </div>
    </div> 
  </div>
</div>

