<div class="bcg" id="screen-about" data-video="http://player.vimeo.com/external/97766236.sd.mp4?s=eb1a390039ac1c84a54713d93c69cc25">
  <div class="fill-lite">
    <div class="hsContainer">
      <div class="hsContent">
        <h1>About</h1>
        <h2>This project is a collaboration between the following organizations:</h2>
        <div class="row">
          <div class="col-md-6">
          <div class="aces"></div>
        <h2>Aspen Center for Environmental Studies(<em>ACES</em>)</h2>
        <p>ACES is a non-profit environmental science education center with four sites in Colorado's Roaring Fork Valley. ACES provides programs in environmental science and ecological literacy for everyone from school children, to leaders and decision makers, working to build a community of knowledgable, motivated and capable environmental stewards.</p>
        <p>ACES mission:
        <block>"To inspisre a life-long commitment to the Earth by educating for environmental responsibility, conserving and restoring the balance of natural communities and advancing the ethic that the Earth must be respected and nurtured."</block>
        has guided their programming since 1968.</p>
        <p>Since then, ACES has set a high standard for land stewardship on our four sites. The 2012 addition of our <em>For the Forest</em> program expanded the influence of that ethic, creating a nexus between scientific research, conservation values, and active forest restoration. Their involvement with the <b>Future Forest Distribution Model</b>, which seeks to bridge the gap between scientific research on climate change and public perception, epitomize the larger goals of their program.</p>
	<h2>Learn about our project</h2>
	<p>What will your backyard look like with climate change? What will happen to our forests 20 or even 100 years from now?  This site allows you to explore current and future maps and simulations, using the most recent science forecasts, in order to visualize the future of our forests.</p>
	<p>Within our lifetime, western US forests are forecast to experience dramatic mortality events due to increased drought, fire, and disease. Underlying all of these is climate change – in particular increases in temperature and increased prevalence of drought.</p>
	<h3><em>Why?</em></h3>
	<p>We as a society have a critical choice to make – what kind of forest landscapes do we want our children to inherit? What will be the consequences of not regulating greenhouse gas emissions versus bringing them under control?</p>
	<h3><em>How?</em></h3>
	<p>[enter text]</p>
	<h3><em>What?</em></h3>
	<p>Here you can use interactive Google earth views, animated weather channel movies, Also, you can view simulations from a new Outerra views of entire forest changes using this new high resolution gaming platform that we are currently developing.</p> 
	<p>Two visualization tools using goggle earth and a forest simulation views using Outerra</p> 
	<p><em>What you can do?  (have picture . . .)</em></p> 
	<p><em>Zoom out to see entire geographic distribution</em></p> 
	<p><em>Zoom  in to see local landscape views</em></p> 
	<p><em>Watch how fast species may respond to different climate change choices</em></p> 
	<p><em>Visualize what forests will look like use</em></p>
	<h3><em>Who?</em>(images for all project partners, ACES, iPlant, University of Arizona college of Science, Geography  (?),</h3>
	<p>Project Personel, Brian<br />Nathan Casler, Noah, Jamie, Chris L. , Margaret, bje, Martha, Francina (?),</p> 
	<p>List of institutions included<br />Bone yard</p>
 	<p>Here we provide easy to use visualization tools for you to explore what your neighborhood, backyard, and scenic vistas will look like under different climate change choices.</p>

          </div>
          <div class="col-md-6">
            <div class="iplant"></div>
            <div class="ua"></div>
            <div class="ltrr"></div>
            <div class="uagist"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
