<div id="main">
  <div class="col-md-12 full">
    <nav class="navbar navbar-simple navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
        <button class="btn-forests pull-left"><span class="glyphicon glyphicon-align-justify" style="font-size:48px; padding-top:15px;"></span></button>
        {{#link-to "earth" class="btn-forests pull-left"}}<div class="globe-logo"></div>{{/link-to}}
        {{#link-to "welcome" class="navbar-brand"}}<h1>{{unbound Forests.app_title}}</h1>{{/link-to}}

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul id="main-menu" class="nav ">
            {{#link-to "highlights" tagName="li"}}<a {{bind-attr href="view.href"}}><h3>Highlights</h3></a>{{/link-to}}
            <li><a href="#methods"><h3>Methods</h3></a></li>
            <li><a href="#about"><h3>About</h3></a></li>
            <li><a href="#climate-change"><h3>Climate Change</h3></a></li>
            <li><a href="#forecasts"><h3>Why Forest Forecasts</h3></a></li>
          </ul>
        </div>
      </div>
    </nav>
  {{outlet}}
  <div>
</div>
