<div>
  <div class="col-md-12">
    <nav class="navbar navbar-simple navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
       <button class="btn-forests pull-left"><span class="glyphicon glyphicon-align-justify" style="font-size:48px; padding-top:15px"></span></button>
       <button class="btn-forests pull-left"><div class="globe-logo"></div></button>
       <a class="navbar-brand" href="#"><h1>Forest Forecasts</h1></a>
      
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="main-menu" class=nav navbar-nav">
          <li><a href="#page-references"><h3>References</h3></a></li>
          <li><a href="#page-methods"><h3>Methods</h3></a></li>
          <li><a href="#page-about"><h3>About</h3></a></li>
          <li><a href="#page-climate-change"><h3>Climate Change</h3></a></li>
          <li><a href="#page-forecasts"><h3>Why Forest Forecasts</h3></a></li> 
        </ul>
        </div>
      </div>
    </nav> 
   {{outlet}} 
  </div>
</div>
