<scetion class="full-height">
  <div class="bcg">
    <div class="fill-lite" style="background: none">
      <div class="hsContainer"> 
        <div id="chartNames" class="row chartContent full-height center chartDetail" style="height: 100%;">
          <div class="row">
            <div class="col-md-12 chartAlign" style="height:100%; width:100%;">
              {{#each chart in controller}}
                {{view "chart"}}
              {{/each}}
            </div>
          </div>
          <div id="chartContainer" class="row">
             <div class="col-md-6 chartAlign" >
                 <img id="pictureContainer"class="img-chart" ></img>
             </div>
             <div class="col-md-6">
                 <img id="figureContainer" class="img-fig"></img>
             </div>
             <div class="row col-md-12">
                 <button class="btn-chart" {{action "toggleChart"}}>Close figures/charts<i class="glyphicon glyphicon-chevron-up"></i></button>
                 <hr>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

