<section class="full-height" id="climate-home">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
          <h1 style="font-size: 400%;">Climate Change</h1>
          <h2>Here we summarize the effects of different climate change scenarios on forests in the western United States. <br>
        Our summary is informed by the IPCC and <a href="http://nca2014.globalchange.gov">NCA</a> reports.<br></h2>
          <h2 class="pull-buttom"> Explore the overiew...</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-overview">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Global Change & Implications for Forests: Overview</h1>
          <p>Climate change is already here and is affecting us in far-reaching ways. Certain types of extreme weather events with links to climate change have become more frequent and/or intense, including prolonged periods of heat, heavy downpours, and, in some regions, floods and droughts. In addition warming is causing sea levels to rise and glaciers to melt. Oceans are becoming more acidic as they absorb carbon dioxide. These aspects of climate change are disrupting people's lives and damaging sectors of our economy. The following research details the effects climate change is having on our forests.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-current">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
        <h1>Climate Change: Present</h1>
        <p>Evidence for climate change abounds and increases alongside emissions. Evidence can be found within changes of ecosystems and species distributions. These effects demonstrate the planetary warming driven by human activity.</p>
        
        <p>As summarized by the National Climate Assessment, multiple lines of independent evidence confirm that human activities are the primary cause of global warming over the past 50 years. The clearing of forests has reduced the biosphere's ability to remove carbon dioxide from the air, which, coupled with, the release of greenhouse gases from fossil fuels, has dramativally increased the concentration of carbon dioxide in the atmosphere. CO<sub>2</sub> levels have increase by more that 40% since the Industrial Revolution.</p>
        
        <p>Other greenhouse gas emissions, such as methane and nitrous oxide emissions from agriculture add to the greenhouse gases. The pattern of temperature change in the atmosphere: warmimg near the surface, and cooling higher up in the atmosphere confirms that the buildup of greenhouse gases has caused most of the Earth's warming over the past century.</p>
        
        
        <div class="global-temp-and-co2 figure"></div>
        <p><strong>Figure 1 legend - <em>Global Temperature and Carbon Dioxide</em></strong>
        Global annual average teeperature(as measured over both land and oceans) has increased by more than 1.5&#176;F(0.8&#176;C) since 1880 (through 2012). The red bars show temperatures above the long-term average, and blue bars indicate temperatures below the long-term average. The black line shows atmospheric carbon dioxide (CO2) concentration in parts per million(ppm). (Figure source: <a href="http://nca2014.globalchange.gov/report/our-changing-climate/observed-change#tab1-images">NCA</a> updated from Karl et al. 2009<super>1</super>).</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-future">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
        <h1>Climate Change: Future</h1>
        <p>Average temperatures are projected to rise another 2&#176; to 4&#176;F in most areas of the United States over the next few decades. Reductions in some short-lived human-induced emissions that contribute to warming, such as black carbon(soot) and methane, could reduce some of the projected warming over the next couple of decades. However, the amount of warming projected beyond the next few decades is directly linked to the cumulative global emissions of heat-trapping gases and particles. By the end of this century, a roughly 3&#176;F to 5&#176;F rise is projected under a lower emissions scenario, which would require substantial reductions in emissions, vs. a 5&#176;F tp 10&#176;F rise for a higher emissions scenario assuming continued increases in emissions, predominantly from fossil fuel combustion. These projections are based on results from 16 climate models that used the two emissions scenarios in a formal inter-model comparison study. Global climate is projected to continue to change &#8212; past emissions have "committed" us to a certain amount of warming &#8212; but how much climate changes beyond that depends primarily on the amount of heat-trapping gases we choose to emit globally.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-choice">
 <div class="bcg">
  <div class="fill-lite">
    <div class="hsContainer">
      <div class="hsContent">
        <h1>Climate Change: A Choice</h1>
        <h2>As a society we face an important decision. We have two possible climate change futures: the best case or the worst case</h2>
        <p>Global climate is projected to continue to change over this century and beyond. THe magnitude of climate change beyond the next few decades depends primarily on the amount of heat-trapping gases emitted globally, and how sensitive the Earth's climate is to those emissions.</p>
        
        <p>A certain amount of continued warming of the planet is projected to occur as a result of human-induced emissions to date; another 0.5&#176;F increase globally would be expected over the next few decades even if all emissions from human activities suddenly stopped, although natural variability could still play an important role over this time period. <em>However, choices made now and in the next few decades will determine the amount of additional future warming. Beyond mid-century, lower levels of heat-trapping gases in scenarios with reduced emissions will lead to noticeably less future warming. Higher emissions levels will result in more warming, and thus more severe impacts on human society and the natural world.</em></p>

        <p>These two scenarios &#8212; the best cases vs. the worst case &#8212; are identified by the labels rcp 2.6 vs. rcp 8.5. Climate modelers around the world have agreed on a set of four such CO<sub>2</sub> emissions scenarios. These scenarios were chosen to be representative of the emissions scenario literature &#8212; spanning a range of plausible, contrasting trajectories with respect to CO<sub>2</sub> concentrations in the atmosphere, arising from economic activity, energy sources, human population growth, and various other factors &#8212; thus their name, <b>representative concentration pathways</b>.</p>

        <p>The numbers refer to the amount of radiative forcing &#8212; extra energy retained by the atmosphere because of greenhouse gases, expressed in units of watts per square meter, relative to conditions in 1750(before the Industrial Revolution). The best-case scenario(rcp 2.6) is characterized by a "peak-then-decline" pattern, where CO<sub>2</sub> emissions rise from current-day rates of ~9 biliion tons per year, peaking around mid-21<super>st</super> century, then declining to zero by the end of the 21<super>st</super> century. The worst-case scenario(rcp 8.5) &#8212; "business as usual" &#8212; is characterized by emissions that continue to rise at a relatively high rate throughout most of the 21<super>st</super>, only stabilizing by the end of the century, at ~30 billion tons per year.</p>
        <div class="rcp-overview"></div>
        <div class="average_temp_global figure"></div>
        <p><strong>Figure 3 Legend &#8212;</strong><em>Emissions Levels Determine Temperature Rises</em>
        Different amounts of heat-trapping gases released into the atmosphere by human activities produce different projected increases in Earth's temperature. In the figure, each line represents a central estimate of global average temperature rise(relative to the 1901-1960 average) for a specific emissions pathway(rcp). Shading indicates the range(5<super>th</super> to 95<super>th</super> percentile) of results from a suite of climate models. Projections in 2099 for additional emissions pathways are indicated by the bars to the right of each panel. In all cases, temperatures are expected to rise, but the difference between lower and higher emissions pathways is substantial. The lowest emissions shown here, RCP 2.6, would result in about 2.5&#176;F of warming in this century, whereas the highest pathway, RCP 8.5 is projected to lead to more than 8&#176;F warming by 2100, with a high-end possibility of more than 11&#176;F.(Data from CMIP3, CMIP5 and NOAA NCDC). Graph and overview from <a href="http://nca2014.globalchange.gov/report/our-changing-climate/future-climate-change">NCA</a></p>
        <h2>The best case and worst case temperature projections will lead to dramatically different future worlds.</h2>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-temp">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Projected Change in Average Annual Temperature</h1>
          <h2>A growing consensus in the scientific literature is that rising temperatures are causing stress to forests (in North America and beyond)<super>1-8</super>, including increased rates of tree mortality and large-scale die-offs.</h2>
          <div class="temp_projection figure"></div>
          <p><strong>Figure 4 Legend &#8212;</strong><em>Projected CHange in Average Annual Temperature</em>
          Projected change in average annual temperature over the period 2071-2099(compared to the period 1970-1999) under a best-case scenario that assumes rapid reductions in emissions and concentrations of heat-trapping gases(RCP 2.6), vs. a worst-case scenario that assumes continued increases in emissions(RCP 8.5). (Figure source: NOAA NCDC / CICS-NC). Graph and description from <a href="http://nca2014.globalchange.gov/report/our-changing-climate/future-climate-change">NCA</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-precip">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Projected Change in Average Annual Precipitation</h1>
          <h2>Precipitation patterns are important to forests in that the drought stress results from a combination of temperature and precipitation conditions</h2>
          <div class="avg_precip figure"></div>
          <p><strong>Figure 4 Legend &#8212;</strong><em>Projected Change in Average Annual Precipitation</em>
          Projected change in average annual precipitation over the period 2071-2099(compared to the period 1970-1999) under a low scenario that assumes rapid reductions in emissions and concentrations of heat-trapping gases(RCP 2.6), and a higher scenario that assumes continued increases in emissions(RCP 8.5). Hatched areas indicate confidence that the projected changes are significant and consistent among models. White areas indicate that the changes are not projected to be larger than could be expected from natural variability. In general, northern parts of the U.S.(especially the Northeast and Alaska) are projected to receive more precipitation, while southern parts(especialy the Southwest) are projected to receive less.(Figure source: NOAA NCDC / CICS-NC) from <a href="http://nca2014.globalchange.gov/report/our-changing-climate/future-climate-change">NCA</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-influence">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>How will climate change influence forests?</h1>
          <p>Changes in precipitation and temperature will influence the functioning and distribution of forests. Western forests, particularly forest of the mountainous southwest and southern/central Rocky Mountains, appear to be more exposed to climate change<super>10,14</super>, and more sensitive to changes in climate, since they are generally more arid(compared to Eastern U.S. forests).</p>
          <p>There are three important shifts in climate that will influence Western Forests; each of these shifts will be influenced differently by the best vs worst case climate change scenarios.</p>
          <ol type="i" style="text-align: left;">
            <li><strong>Increasing temperatures. Temperatures are rising particularly in the SouthWest and interior West.</strong></li>
            <li><strong>Reduction in winter snowpack and earlier melt dates</strong><br>
              The amount of winter snowpack and timing of snowmelt is critically important for the functioning of Western forests. With Increasing temperatures, less precipitation comes in the form of snow, and snow melts earlier. The amount of snow influences water availability to trees as melting snow slowly releases water in spring and summer, when both natural ecosystems and people have the greatest needs for water, which is key to the Southwest's hydrology and water supplies.<br>
              <div class="snow_water figure"></div><br>
              <strong>Figure 7 legend &#8212;</strong><em>Projected Snow Water Equivalent</em><br>
              Snow water equivalent(SWE) refers to the amount of water held in a volume of snow, which depends on the density of the snow and other factors. Figure 7 shows projected snow water equivalent for the Southwest, as a percentage of 1971-2000, assuming continued increases in global emissions. The size of bars in proportion to the amount of snow each state contributes to the regional total. Declines in peak SWE are strongly correlated with early timing of runoff and decreases in total runoff. For watersheds that depend on snowpack to provide the majority of the annual runoff, such as the Sierra Nevada and in the Upper Colorado and Upper Rio Grande River Basins, lower SWE generally translates to reduced reservoir water storage. (Data from Scripps Institution of Oceanography). Graphic and legend from <a href="http://nca2014.globalchange.gov/report/regions/southwest#intro-section-2">NCA</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-dry">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent" style="text-align: left">
        <p >iii. <strong>Drier, including increased drought</strong><br>
              The newest climate change predictions indicate that western forests in particular will be drier and experience increased drought &#8212; especially the Southwest and central rockies, but also in the pacific Northwest during summer. Largely driven by increasing temperatures, but also less precipitation in the winter in the Southern part of the West, vs. a stronger summer drought in the Pacific Northwest.<br>
              <div class="precip-change figure"></div><br>
              <strong>Figure 6 Legend &#8212;</strong>
              Seasonal precipitation change for 2071-2099(compared to 1970-1999) as projected by recent simulations that include a wider range of scenarios. The maps on the left(RCP 2.6) assume rapid reductions in emissions &#8212; more than 70% cuts from current levels by 2050 &#8212; and a correspondingly smaller amount of warning and far less precipitation change. On the right(RCP 8.5) assumes continued increases in emissions, with associated large increases in warming and major precipitation changes. These would include large reductions in spring precipitation in the Southwest and large increases in the Northeast and Midwest. Rapid emissions reductions would be required for the modest changes in the maps on the left. Hatched areas indicate that the projected changes are significant and consistent among models. White areas indicate that the changes are not projected to be larger than could be expected from natural variability. (Figure source: NOAA NCDC / CICS-NC). Graph and legend from <a href="http://nca2014.globalchange.gov/report/our-changing-climate/precipitation-change">NCA</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
 
<section class="full-height" id="climate-mortality">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Increased Greenhouse Gas Emissions Lead to Continued Mortality</h1>
          <p>Recently the NCA summarized how these factors will likely influence Western U.S. forests. In short, higher temperatures and drought stress subject trees to enhanced risk of mortality, either from physiological stress fire, or by making them more prone to insect and pathogen attack.</p>
          <div class="forest-vulnerable figure"></div>
          <p><strong>Figure 7 Legend &#8212; </strong><em>Forest Vulnerability to Changing Climate</em>
          The figure shows a conceptual climate envelope analysis of forest vulnerability under current and projected future ranges of variability in climate parameters(temperature and precipitation, or drought duration and intensity). Climate models project increasing temperatures across the U.S. in coming decades, but a range of increasing or decreasing precipitation depending on region. Episodic droughts (where evaporation far exceeeds precipitation) are also expected to increase in duration and/or intensity. The overall result will be increased vulnerability of forests to periodic widespread regional mortality events resulting from trees exceeding their physiological stress thresholds.<super>1</super>(Figure source: Allen et al. 2010<super>2</super>). Graphic from <a href="http://nca2014.globalchange.gov/report/sectors/forests">NCA</a></p>
          <p>The implications are that with increased warming and increased drought, due to increased concentrations of greenhouse gases, Western forests will increasingly be at risk of enhanced mortality and reduction of the area climatically-suitable for forests. For many tree species, the most climatically-suitable areas will shift from their current locations, increasing vulnerability to insects, disease, and fire in areas that become unsuitable.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-height" id="climate-cite">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Citations</h1>
          <ol style="text-align: left;">
            <li>Allen, C. D. et al. 2010. A global overview of drought and heat-induced tree mortality reveals emerging climate change risks for forests. For. Ecol. Manage 259: 660–684.</li><br>
            <li>van Mantgem, P. J. et al. 2009. Widespread increase of tree mortality rates in the western United States. Science 323:521–524.</li><br>
            <li>Breshears, D. D. et al. 2005. Regional vegetation die-off in response to global-change-type drought. Proc. Natl. Acad. Sci. USA 102: 144–148.</li><br>
            <li>McDowell, N. G., D. J. Beerling, D. D. Breshears, R. A. Fisher, K. F. Raffa, and M. Stitt. 2011. The interdependence of mechanisms underlying climate-driven vegetation mortality. Trends Ecol. Evol. 26: 523–532, doi:10.1016/j.tree.2011.06.003.</li><br>
            <li>Williams AP, Allen CD, Macalady AK, Woodhouse C, Meko D, Allen CD, Swetnam TW, Cook ER, Griffin D, Rauscher SA, Seager R, Dean J, Grissino-Mayer H, Gangodagamage C, Cai M, McDowell N. 2013. Temperature as a potent driver of regional forest-drought stress and tree mortality. Nature Climate Change 3: 292–297.</li><br>
            <li>Adams, H. D. et al. 2009. Temperature sensitivity of drought-induced tree mortality portends increased regional die-off under global change-type drought. Proc. Natl. Acad. Sci. USA 106: 7063-7066.</li><br>
            <li>Bentz, B. J. et al. 2010. Climate change and bark beetles of the western United States and Canada: direct and indirect effects. Bioscience 60: 602-613.</li><br>
            <li>Williams, A. P., et al. 2010. Forest responses to increasing aridity and warmth in the southwestern United States. Proc. Natl. Acad. Sci. USA 107: 21298-21294.</li><br>
            <li>Notaro, M., A. Mauss, and J. W. Williams. 2012. Projected vegetation changes for the American Southwest: combined dynamic modeling and bioclimatic-envelope approach. Ecological Applications 22(4): 1365-1388.</li><br>
            <li>Diffenbaugh, N. S., F. Giorgi, and J. S. Pal. 2008. Climate change hotspots in the United States. Geophsyical Research Letters 35.</li><br>
            <li>Garfin, G., A. Jardine, R. Merideth, M. Blackm and S. LeRoy, eds. 2013. Assessment of Climate Change in the Southwest United States: A Report Prepared for the National Climate Assessment. Island Press, Washington, D.C.</li><br>
            <li>Cook, B. I. and R. Seager. 2013. The response of the North American monsoon to increased greenhouse gas forcing. Journal of Climate 118(4).</li><br>
            <li>Raffa, K. F. et al. 2008. Cross-scale drivers of natural disturbances prone to anthropogenic amplification: the dynamics of bark beetle eruptions. BioScience 58: 501-517.</li><br>
            <li>Seager, R. et al. 2007. Model projections of an imminent transition to a more arid climate in southwestern North America. Science 316: 1181-1184.</li><br>
            <li>Westerling, A. L., H. G. Hidalgo, D. R. Cayan, and T. W. Swetnam. 2006. Warming and earlier spring increase western U. S. forest wildfire activity. Science 313:940-943.</li><br>
            <li>Westerling, A. L., M. G. Turner, E. A. H. Smithwick, W. H. Romme, M. G. Ryan. 2011. Continued warming could transform Greater Yellowstone fire regimes by mid-21st century. Proc. Natl. Acad. Sci. USA 108: 13165-13170.</li><br>
            <li>Gaylord, M. L., T. E. Kolb, W. T. Pockman, J. A. Plaut, E. Y. Yepez, A. K. Macalady, R. E. Pangle, and N. G. McDowell. 2013. Drought predisposes pinon-juniper woodlands to insect attacks and mortality. New Phytologist 198: 567-578.</li><br<
            <li>Stephens, S. L., J. K. Agee, P. Z. Fule, M. P. North, T. W. Swetnam, and M. G. Turner. 2013. Managing forests and fire in changing climates. Science 342:41-42.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
