<section class="full" id="earth">
<div id="map3d" class="bcg"></div>
<div class="iframe-container2" id="sidebar-iframe">
  <div class="content-container">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav"> 
        <h4><b>Select a species</b></h4>
        <li>
          <form style="text-indent: 0; line-height:20px;" id="urlform">
          </form>
        </li>
        <li class="divider"></li>
        <li class="nav-header" style="text-indent:0;">Select a Climate Scenario:
          <select id="rcp">
            <option value="rcp26">Worst</option>
            <option value="rcp45">Stable</option>
            <option value="rcp85">Best</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
