<div class="bcg">
  <div class="row full-height"
    <div class="col-sm-12">
      <div class="screen" id="screen-1" data-video="http://player.vimeo.com/external/97766236.hd.mp4?s=dd2f9c6288662107f4cd6b29ac22eda5">
        <div class="map-overlap">
        <div class="col-md-8 pull-right">        
          <div id="map3d"></div>
        </div>  
        </div>
      </div>
    </div>
  </div>
</div>

