{{#each slide in controller}}
  <section id={{slide.title}}>
    <div class="bcg"
      data-0="background-color:rgb(1,27,59)"
      data-top="background-color(0,0,0);"
      data-anchor-target={{slide.title}}
    >
      <div class="hsContainer">
        <div clas="hsContent">
          <h2
            data--200-bottom="opacity: 0"
            data-center="opacity: 1"
            data-206-top="opacity: 1"
            data-106-top="opacity: 0"
            data-anchor-target="{{slide.title}} h2"
          >
            {{slide.content}}
          </h2>
        </div>
      </div>
    </div>
  </section>
{{/each}}
