<section class="full" id="intro">
  <div class="bcg">
    <div class="fill-lite">
      <div class="hsContainer">
       
          <div class="hsContent">
          
          <h1> Intro to FFDM </h1>
          <h3>Some words about our project</h3>
          <div class="row">
            <button class="btn-text"><span class="glyphicon glyphicon-info-sign" style="font-size:48px; padding-top:15px;"></span><h3>Summary</h3</button>
            <button class="btn-text"><span class="glyphicon glyphicon-comment" style="font-size:48px; padding-top:15px;"></span><h3>Tutorial</h3></button>
          </div>
          </div>
        </div>
       </div>

  </div>
</section>

