<div class="bcg screen" id="screen-intro" data-video="http://player.vimeo.com/external/97768757.sd.mp4?s=3b8caf7f9e96d4f5beb7b36f028946dc">
  <div class="fill-lite">
    <div class="hsContainer">
       
      <div class="hsContent">
         
        <h1> Intro to FFDM </h1>
        <h3>Some words about our project</h3>
        <div class="row"> 
        <div class="col-md-3">
        </div>
         <div class="col-md-3">
          {{#link-to "highlights" class="btn-text"}}<span class="glyphicon glyphicon-info-sign" style="font-size:300%; padding-top:15px;"></span><h3>Summary</h3>{{/link-to}}
         
         </div>
         <div class="col-md-3"> 
          {{#link-to "maps" class="btn-text"}}<span class="glyphicon glyphicon-comment" style="font-size:300%; padding-top:15px;"></span><h3>Tutorial</h3>{{/link-to}}
         </div>
         <div class="col-md-3">
         </div>
        </div>
      </div>
    </div>
  </div>
</div>


