<div class="bcg screen" id="screen-methods" data-video="http://player.vimeo.com/external/97766234.sd.mp4?s=6bca03913cd9ec2ebf0be0682098e1e2">
  <div class="fill-lite">
    <div class="hsContainer">
      <div class="hsContent">
      <h1>Methods</h1>
      {{#each method in controller}}
      {{{method.detail}}}
      {{/each}}
    </div>
    </div>
  </div>
</div>
