<section class="full" id="welcome">
  <div class="bcg">
    <div class="row full-height">
      <div class="col-md-6 fill-lite">
        <div class="hsContainer">
          <div class="hsContent">
            {{#link-to "intro" class="btn-text"}}<h1>Intro to FFDM</h1>{{/link-to}}
            <h2>Learn about our project.</h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 fill-dark">
        <div class="hsContainer">
          <div class="hsContent">
            {{#link-to "welcome" class="btn-text"}}<h1>Explore</h1>{{/link-to}}
            <h2>Skip the introduction and proceed straight to using the model</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
