<div class="bcg screen" id="screen-welcome" data-video="http://player.vimeo.com/external/97766235.hd.mp4?s=7164cf5084a9202595219b22b4506f2f">
<div class="full-height">
  <div class="slogan-container">
  <span class="slogan">Visualizing different forest futures...</span>
  </div>
  <div class="img-circle bannerContainer">
    <div class="fill-lite">
{{#link-to "maps" id="banner-text"}}<br><b>EXPLORE</b><br>FOREST<br>FORECASTS{{/link-to}}
    </div>
  </div>
  <div class="col-md-6 fill-lite left-overlap">
  <div class="hsContainer">
    <div class="hsContent" style="padding-top: 175px;">
      <div class="row">
      {{#link-to "about" class="btn-text" tagName="button"}}About{{/link-to}}
    </div>
    </div>
  </div>
</div>
<div class="col-md-6 fill-dark right-overlap">
<div class="hsContainer">
  <div class="hsContent" style="padding-top: 175px;">
    <div class="row">
    {{#link-to "method" class="btn-text" tagName="button"}}Methods{{/link-to}}
    </div>
  </div>
</div>
</div>
</div>
